body {
	margin:0px;
	background-image:url('images/bg.jpg');
	background-position:cover;
	background-attachment:fixed;
	color:white;
	font-family: "lucida sans unicode", "lucida grande";
	font-size:15px;
    
}

#complete {
	
}

#header {
	height:80px;
	padding:0px;
	margin:0px;
	background-color:;
	top:0px;
	background-color:rgba(0,0,0,0);
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.9);
}
#fr {
	color:aqua;
}
#heading {
	font-size:50px;
	margin:6px 0px 0px 30px;
	color:white;
}

#logo {
	width:50%;
	height:80px;
	padding:0px;
	margin:0px;
	float:left;
	
}

#nav {
	width:50%;
	height:80px;
	padding:0px;
	margin:0px;
	float:right;
    
}

li {
           float:right;
            width:25%;
           	margin: 0;
            padding: 0;
      }
ul{
           height:80px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;

          }
li a {
          display: block;
		 font-size:20px;
    font-family:;
    padding-top:30px;
    height:80px;
	color:white;
    text-align: center;
    margin-top:0px;
    text-decoration: none;
}
li a:hover{
          display: block;
		 font-size:20px;
    font-family:;
    padding-top:30px;
    height:80px;
	color:black;
    text-align: center;
    margin-top:0px;
text-decoration: none;
background-color:rgba(255,255,255,0.2);
}
.viewedit {
    display: block;
   font-size:20px;
    font-family:;
    padding-top:20px;
    padding-bottom:20px;
	color:white;
	width:20%;
    text-align: center;
    margin-top:20px;
    text-decoration: none;
	background-color:rgba(0,0,0,0.2);
	border-radius:10px;
      }
.viewedit:hover {
    display: block;
   font-size:20px;
    font-family:;
    padding-top:20px;
    padding-bottom:20px;
	color:black;
	width:20%;
    text-align: center;
    margin-top:20px;
    text-decoration: none;
	background-color:rgba(255,255,255,0.2);
	border-radius:10px;
      }
#index{
	float:right;
            width:33%;
           	margin: 0;
            padding: 0;
}
#login {
	float:right;
            width:33%;
           	margin: 0;
            padding: 0;
}
#logout {
	float:right;
            width:33%;
           	margin: 0;
            padding: 0;
}
#register {
	float:right;
            width:50%;
           	margin: 0;
            padding: 0;
}
#slm{
	float:right;
            width:33%;
           	margin: 0;
            padding: 0;
}
#current{
	z-index:1;
    background-color:rgba(0,0,0,0.2);
    height:80px;
	color:grey;
}
#reg {
	width:50%;
	margin-top:20px;
	margin-left:10%;
	margin-right:25%;
	position:relative;
	font-size:20px;
	float:left;
}
.reg1 {
	width:50%;
	margin-top:20px;
	margin-left:25%;
	margin-right:25%;
	padding-left:40px;
	margin-bottom:30px;
	padding-bottom:0px;
	padding-top:20px;
	position:relative;
	font-size:20px;
	float:left;
	border-radius:10px;
	background-color:rgba(0,0,0,0.2);
}
.lab {
	/*text-decoration:underline;*/
	color:white;
}
#logout1 {
	margin-left:100px;
	margin-top:40px;
	color:white;
	
}
input.lab {
	color:white;
	background-color:rgba(0,0,0,0);
	border-color:black;
	width:50%;
	height:30px;
	margin-bottom:15px;
	border-width:0px 0px 0px 0px;
	font-size:13px;
	box-shadow:0px 0px 7px 0px rgba(10,10,10,0.9);
	padding-left:10px;
	border-radius:0px;

}
textarea {
	background-color:rgba(0,0,0,0);
	border-color:black;
	width:50%;
	height:100px;
	margin-bottom:15px;
	border-width:0px 0px 0px 0px;
	box-shadow:0px 0px 5px 0px rgba(10,10,10,0.9);
	padding-left:10px;
}
form {
	color:rgb(200,200,200);
}
.submit {
	background-color:rgba(0,0,0,0.3);
	border:0px;
	height:40px;
	margin-left:0px;
	width:52%;
	font-size:20px;
	color:white;
}

div.lab {
	color:white;
	background-color:rgba(255,255,255,0.2);
	border-color:rgba(0,0,0,0);
	width:40%;
	color:black;
	border-radius:5px;
	margin-bottom:15px;
	border-width:0px 0px 0px 0px;
	font-size:18px;
	padding-left:10px;
	padding-top:auto;
}
/*********************srollbar**************/
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(200,200,200,.5);
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(200,200,200,.8);
}
::-webkit-scrollbar-thumb:active {
  background:rgba(200,200,200,1);
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,1);
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,1);
}
::-webkit-scrollbar-track:rgba(0,0,0,1);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/******************srollbar ends***************/
.radio {
	height:20px;
	width:20px;
}
.sub_rad {
	background-color:rgba(0,0,0,0.3);
	border:0px;
	height:40px;
	margin-left:0px;
	width:100px;
	font-size:20px;
	color:white;
}
slmfrm {
	margin-left:5px;
}
